<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="About section">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!--Main CSS File-->
        <link rel="stylesheet" href="/static/styles.css">
    </head>
    <body>
        <div class='navbar'>
            <a href='/'>HOME</a>
            <a href='/projects'>PROJECTS</a>
            <a href='/social'>SOCIAL</a>
            <a href='/about' style="background-color: rgb(0, 102, 255); padding: 0.4rem;">ABOUT</a>
        </div>
        <div class="about_me">
            <h1 id='about_title'>About Me</h1>
            <p id='about_description'>Hi! I’m Anit Sankar, a dedicated and adaptable Computer Science student at the University of Alabama at Birmingham with a minor in Business Administration. With a perfect GPA and a keen interest in both technology and business, I’m driven by a passion for problem-solving and innovation.
                My hands-on experience includes interning as a Software Engineer at ShipShape Urban Farms, where I enhanced data collection efficiency and automated workflows, and as a Web Developer at CircleBox, where I accelerated website development and elevated its design. <br><br>
                I’ve also enjoyed working on my own projects, like a password generator website using ReactJS, which lets users create strong, customized passwords.
                Outside of my academics and projects, I serve as a Programming Teaching Assistant in the Microsoft TEALS Program, where I guide students in honing their fundamental programming skills, and I serve as the Public Relations Chair for the Association of Computer Machinery, where I actively organize events and boost our online presence through social media.<br><br>
                I’m excited about the endless possibilities in tech and eager to make a positive impact through my work.
            </p>
        </div>
    </body>
</html>