<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="Anit Sankar's website and information">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!--Main CSS File-->
        <link rel="stylesheet" href="/static/styles.css">
    </head>
    <body>
        <div class='navbar'>
            <a href='/' style="background-color: rgb(0, 102, 255); padding: 0.4rem;">HOME</a>
            <a href='/projects'>PROJECTS</a>
            <a href='/social'>SOCIAL</a>
            <a href='/about'>ABOUT</a>
        </div>
        <div class='intro'>
            <h1 id='name'>Anit Sankar</h1>
            <h4 id='location'>Birmingham, AL</h4>
        </div>
        <div class='experience'>
            <div class='title_card'>
                <h2>Experience</h2>
            </div>
            <div class='experience_gridbox'>
                <div class='main_experience_card'>
                    <h2>Primary Positions</h2>
                    <li>Software Engineering Intern | Shipshape Urban Farms</li>
                    <li>Web Development Intern | CircleBox</li>
                    <li>Software Development Intern | Drew Thomas Soft. Consulting</li>
                </div>                     
                <div class='teaching_card'>
                    <h2>Extracurriculars</h2>
                    <li>Programming Teaching Assistant | Microsoft TEALS Program</li>
                    <li>Public Relations Chair | Association for Computer Machinery</li>
                    <li>Team Player | Intramural Soccer</li>

                </div>  
            </div>
            <div class='toolkit_card'>
                <div class='title_card'>
                    <h2>Toolkit</h2>
                </div>
                <div class='toolkit_gridbox'>
                    <div class='programming_card'>
                        <h2><b>Programming</b></h2>
                        <li>Python</li>
                        <li>Java</li>
                        <li>C</li>
                        <li>Visual Basic</li>
                    </div>
                    <div class='frontend_card'>
                        <h2><b>Frontend Development</b></h2>
                        <li>ReactJS</li>
                        <li>HTML</li>
                        <li>CSS</li>
                        <li>JavaScript</li>
                    </div>
                    <div class='backend_card'>
                        <h2><b>Backend Development</b></h2>
                        <li>Flask</li>
                        <li>Python Django</li>
                        <li>MySQL</li>
                        <li>DynamoDB</li>                                                
                    </div>                    
                </div>
            </div>
        </div>
    </body>
</html>