<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="Projects section">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!--Main CSS File-->
        <link rel="stylesheet" href="/static/styles.css">
    </head>
    <body>
        <div class='navbar'>
            <a href='/'>HOME</a>
            <a href='/projects' style="background-color: rgb(0, 102, 255); padding: 0.4rem;">PROJECTS</a>
            <a href='/social'>SOCIAL</a>
            <a href='/about'>ABOUT</a>
        </div>
        <div class="projects_intro">
            <h1 id='projects_title'>Projects</h1>
            <h4 id='projects_description'>Feel free to check out some of my projects!</h4>
        </div>
        <div class="projects_gridbox">
            <div class="fact_or_fiction">
                <div class="project_title">
                    <a href="https://fact-or-fiction-e4472f229907.herokuapp.com/" target="blank">Fact or Fiction</a>
                </div>
                <a id="project_description">An interactive quiz web app where users guess if statements are factual or fictional. Developed the frontend with React and used OpenAI's GPT API to generate the statements, with real-time score tracking.</a>                           
            </div>
            <div class="airport_distance_visualizer">
                <div class="project_title">
                    <a href="https://github.com/asankar04/Airport_Distance_Visualizer" target="blank">Airport Distance Visualizer</a>
                </div>
                <a id="project_description">This web app, built with React and Leaflet, dynamically calculates and visualizes the shortest distance between two airports. It features real-time data fetching from a comprehensive airport database, advanced geocoding, and mapping for a robust, interactive user experience. The app utilizes React for the frontend and Python Flask for the backend.</a>                           
            </div>
            <div class="own_website">
                <div class="project_title">
                    <a href="/" target="blank">Main Website</a>
                </div>
                <a id="project_description">This website was created to showcase my experience and projects. It follows a consistent theme and is designed with clarity in mind. I utilized HTML, CSS, JavaScript (JS), and Python Flask</a>                           
            </div>
            <div class="reactJS_password">
                <div class="project_title">
                    <a href="https://react-password-generator-cd8d.onrender.com/" target="blank">ReactJS Password Generator</a>
                </div>
                <a id="project_description">Users can create a randomly generated password based on their preference of the password length and the inclusion of lowercase letters, uppercase letter, numbers, and special characters. Utilized ReactJS, JavaScript XML(JSX), HTML, CSS. This project includes a frontend interface.</a>                           
            </div>
            <div class="java_password">
                <div class="project_title">
                    <a href="https://github.com/asankar04/Java_Password_Generator" target="blank">Java Password Generator</a>
                </div>
                <a id="project_description">Generate a random password based on preferences such as the password length and the inclusion of numbers, and special characters. Utilized Java</a>                           
            </div>
            <div class="java_calculator">
                <div class="project_title">
                    <a href="https://github.com/asankar04/Java-Calculator" target="blank">Java Calculator</a>
                </div>
                <a id="project_description">Java-based calculator with an intuitive GUI, offering essential arithmetic operations and power functions for enhanced user interaction.</a>                           
            </div>
        </div>
    </body>
</html>
